<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClothingStoreData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ClothingStoreData.Properties.Settings>
            <setting name="connectionstring" serializeAs="String">
                <value>"Data Source=mssql.cs.ksu.edu;Initial Catalog = arahman; User ID = arahman; "Data Source=mssql.cs.ksu.edu;Initial Catalog = arahman; User ID = arahman; Password=***********"</value>
            </setting>
        </ClothingStoreData.Properties.Settings>
    </applicationSettings>
</configuration>